.two-columns_paragraph {
  margin: 0;
  margin-bottom: 30px;
}

.two-columns_paragraph:last-child {
  margin-bottom: 0;
}

.two-columns_span-accent {
  font-weight: 600;
}

.two-columns_main-text {
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
