.techniques__cards_image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 60px;
}

.techniques__cards__item {
  list-style: none;
  width: 240px;
}

.techniques__cards_title {
  margin-top: 43px;
  margin-bottom: 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.title_description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
