.video__iframes {
  height: 316px;
  /* margin-top: 50px; */
  display: flex;
  column-gap: 20px;
  overflow: visible;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-top: 40px;
  border: 0;
}
