* {
  margin: 0;
  padding: 0;
}

/* border: 2px solid rgba(250, 50, 50, .4); */

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "inter", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */

.logo {
  width: 228px;
  height: 32px;
}

.header__logo {
  padding-top: 30px;
  padding-left: 64px;
  position: absolute;
  z-index: 1;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  padding-left: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.subtitle {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 338px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 30px;
  margin-left: 64px;
  z-index: 1;
}

.main-illustration {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 1;
}

.header__square-pic {
  display: flex;
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}
/* Стили хидера закончились тут */
/* Тут начинаются стили для секции дескрипшон */
.description {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.breef {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.paragraph {
  margin: 0;
  margin-bottom: 30px;
}

.paragraph:last-child {
  margin-bottom: 0;
}

.span-accent {
  font-weight: 600;
}

.main-text {
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
/* Здесь заканчиваются стили для секции дескрипшон */
/* Здесь начинаются стили для секции техники */
.techniques {
  width: 80%;
  background-color: #fff;
  padding: 100px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 80px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  column-gap: 100px;
}

.cards_image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 60px;
}

.cards__item {
  list-style: none;
  width: 240px;
}

.cards_title {
  margin-top: 43px;
  margin-bottom: 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.title_description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
/* Здесь заканчиваются стили для секции техники */
/* Здесь начинаются стили для секции цифры и факты */
.digits {
  background-color: #fff;
  padding: 100px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  justify-content: space-between;
  padding-top: 60px;
}

.table__cell {
  width: 250px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  list-style: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/* Здесь заканчиваются стили для секции цифры и факты */
/* Здесь начинаются стили для секции каймана */

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.section-title_theme_dark {
  color: #fff;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  color: #fff;
  margin-top: 0;
}

.table__theme_dark {
  padding: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
/* Здесь заканчиваются стили для секции кауфмана */
/* Здесь начинаются стили для секции ресурсы */

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  list-style: none;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.resources__link {
  width: 270px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resources__logo {
  width: 100%;
  display: flex;
}
/* Здесь заканчиваются стили для секции ресурсы*/
/* Здесь начинаются стили для подвал */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  justify-content: center;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns_info {
  display: flex;
  justify-content: end;
  gap: 175px;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
}

.column-link {
  margin-bottom: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
}

.social-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

.social-icon:visited {
  color: #fff;
}
